{% extends "layout.html" %}

{% block title %}
    Compare
{% endblock %}

{% block main %}
    <div class="text-left" id="Instructions">
        <p>KS Apparel is a Fashion and Lifestyle wholesale retailer procuring materials from various manufacturers. Since it is a very competitive market, there are several competing companies. From past couple of years, SR Apparel has been losing contracts regularly and the contracts gained are not profitable.</p>

        <p>Hari, the CEO of SR Apparel was worried due to the declining profits. He suspects that there is a element of variability in the demand that is affecting his profits. After last month's discussion with Sameer, the technology whiz-kid, he was promised a simulation tool that
            will help his team visualize the demands and compare the contracts. </p>

            <br>
        <h3><b>Instructions to use the tool</b></h3>
<!--
        <br>
        <h4>To simulate individual contract types, click on Simulate tab</h4>
        <ul>
            <li>Choose the contract type you would like to verify.</li>
            <li>Enter the values on the left pane.</li>
            <li>Click on Run Simulation</li>
            <li>You can vary the standard deviation to see its effect to quantity and monies.</li>
        </ul> -->

        <ul>
            <li>To simulate and compare multiple contract types, click on Compare tab.</li>
            <li>Select multiple contract types you would like to verify.</li>
            <li>Enter the parameters.</li>
            <li>Click on Run Simulation.</li>
            <li>You can check/uncheck the result variables for better clarity.</li>
        </ul>
    </div>
{% endblock %}
